@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprende más sobre <a href="https://learn.microsoft.com/aspnet/core" target="_blank">ASP.NET Core</a>.</p>
</div>

<div class="list-group text-center">
    <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Hermandades")">
        Lista de Hermandades
    </a>
    <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Hermanos")">
        Lista de Hermanos
    </a>
    <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Tunicas")">
        Lista de Túnicas
    </a>
    <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "Puestos")">
        Lista de Puestos
    </a>
    <a class="list-group-item list-group-item-action" href="@Url.Action("Index", "PuestoHermanos")">
        Lista de Puestos de Hermanos
    </a>
</div>
