@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@Html.ActionLink("Lista de Hermandades", "Index", "Hermandades")
<br />
@Html.ActionLink("Lista de Hermanos", "Index", "Hermanos")
<br />
@Html.ActionLink("Lista de Tunicas", "Index", "Tunicas")

<br />
@Html.ActionLink("Lista de Puestos", "Index", "Puestos")
<br />
@Html.ActionLink("Lista de PuestosHermanos", "Index", "PuestoHermanos")


